
.name-label {
 
  font-weight: 600;
  color: #fff;
  margin-left: 2px;
}

.name-label:hover{
    text-decoration: underline;
}


.dropdown-box:hover {
    background-color:rgb(26, 25, 25)!important;
}
