.container {
  background: #5c5c5c;
  padding: 0 2rem;
}

.main {
  font-family: Inter;
  gap:20px;
  min-height: 100vh;
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* .main > h3 {
  color:#FFFFFF;
  font-weight: 500;
} */

.main > img {
  width:500px;
}
