
.table {
  background-color: white;
  border-radius: 12px;
  border-bottom-width: 0px!important;
  border-style: inherit!important;
  td {
    border-style: inherit!important;
  }
  tbody{
    border-style: inherit!important;
  }
  tr {
    border-style: inherit!important;
  }
}
.table-colunm-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;

    button {
        margin-left: 10px;
        max-width:100px;
    }
}